.card-text{
    font-size:15px;
}
.card{
    margin-bottom: 2rem!important;
}

.card-title {
    color: #000 !important;

}

@media only screen and (min-with:300px) {
    .card{
        padding-bottom:20px;
    }
    
}