footer{
    background-color:#001111;
    color:#fff
}
.list-unstyled>li{
    padding-bottom: 0.7rem;
}
.list-unstyled>li>a{
    color: #fff;
    font-size: 0.9rem;
}

.list>li{
    padding: 0rem;
    font-size: 0.9rem;
}
h4,h5{
    color: #2ea44f;
}

.footer-link{
    color: white;
    text-decoration: none;
}

.footer-link:hover{
    color: white;
}