*,*::before,*::after{
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
   }


.btn {
  font-size: 18px;
  width:100%;
  display: inline-flex;
  align-items: center;
  border-radius: 1px !important;
  justify-content:center }



.form-control {
  font-size: 18px;
  transition: all .2s; 
}

.form-wrapper {
  display: flex;
  align-items: center;
  min-height: 100%; 
  padding: 25px 25px;
}

  /* .form-wrapper .card {
    min-height: 100%; } */

.link{
  text-decoration: none;
}


.logo {
  text-align: center; }

.card {
  border: none;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
  padding: 15px 25px; 
}


.form-group {
  margin-bottom: 15px; 
}

.form-group input{
  margin-top: 3px;
  border-radius: 2px;
  height: auto;
  padding: 12px 9px;
  border:1px solid grey;
  background: #fff;
}

.routing-signup{
  margin-top: 90px;
}


/* Responsive code */
@media (max-width: 450px) {
  .card {
    width: 100%; }
  .form-wrapper {
    display: block !important;
    }}



